body {

		MARGIN: 10px 10px 10px 10px;
		PADDING:10px 10px 10px 10px;
		BORDER-TOP: #CCC 0px solid;
		BORDER-RIGHT: #CCC 0px solid;
		BORDER-BOTTOM: #CCC 0px solid;
		BORDER-LEFT: #CCC 0px solid;
}