body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; font-size:12px; font-family:"微软雅黑";width: 100%;}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;  }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; cursor: pointer;}
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse;}
.left{float: left;}
.right{float: right;}
.fnone{float: none !important;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1;}

.posRelative{
	position: relative;
}
.posAbsolute{
	position: absolute;
}
.posFixed {
    position: fixed;
}
.white{
    color:#fff !important;
}
.inlineBlock{
	display: inline-block;
}
.mgt1{
	margin-top: 1px;
}
.fmgt2{
	margin-top: -2px;
}
.mgt13{
	margin-top: 13px;
}
.mgt5{
	margin-top: 5px;
}
.mgt3{
	margin-top: 3px;
}
.mgt15{
	margin-top: 15px;
}
.mgt20{
	margin-top: 20px;
}
.mgt25{
	margin-top: 25px;
}
.mgt30{
	margin-top: 30px;
}
.mgr10{
	margin-right: 10px;
}
.pdb10{
    padding-bottom: 10px;
}
.mgr6{
	margin-right: 6px;
}
.mgr15{
	margin-right: 15px;
}
.mgr5{
	margin-right: 5px;
}
.mgr20{
	margin-right: 20px;
}
.mgr25{
	margin-right: 25px;
}
.mgr30{
	margin-right: 30px;
}
.fmgl5{
	margin-left: -5px;
}
.mgl10{
	margin-left: 10px;
}
.mgl15{
	margin-left: 15px;
}
.mgl20{
	margin-left: 20px;
}
.mgl35{
	margin-left: 35px;
}
.mgl5{
	margin-left: 5px;
}
.fmgr10{
	margin-right: -10px;
}
.fmgr5{
	margin-right: -5px;
}
.mgl25{
	margin-left: 25px;
}
.mgb1{
	margin-bottom: 1px;
}
.mgt10{
	margin-top: 10px;
}
.padd10{
	padding: 10px 0;
}
.pa5{
	padding: 0 5px;
}
.pad5{
	padding-left: 5px !important;
}
.padd3{
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
.padd2{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.pad3{
	padding-left: 3px !important;
}
.padl15{
	padding-left: 15px;
}
.padl20{
	padding-left: 20px;
}
.mgb10{
	margin-bottom: 10px;
}
.mgr18{
	margin-right: 18px;
}
.padr10{
	padding-right: 10px;
}
.padr30{
    padding-right: 30px;
}
.padb5{
	padding-bottom: 5px;
}
.padb10{
	padding-bottom: 10px;
}
.bline{
	border-bottom: 1px solid #2e2e2e;
}
.bdtop2e{
    border-top: 1px solid #2e2e2e;
}
.tline{
	border-top: 1px solid #000;
}
.mgl100{
	margin-left: 100px;
}
.mgr90{
	margin-right: 90px;
}
.mgl310{
	margin-left:310px;
}
.mgl210{
	margin-left: 210px;
}
.mgl80{
    margin-left: 80px;
}
.mgr210{
	margin-right: 210px;
}
.mgr240{
	margin-right: 240px;
}
.fmgt5{
	margin-top: -5px;
}
.overflHide{
	overflow: hidden;
}
.blue{
	color: #1a7da9;
}
.bgf{
	background-color: #fff;
}
.bgd{
    background: #ddd;
}
.bg0{
    background-color: #000;
}
.bg363c41{
    background-color: #363c41;
}
.bgb{
	background-color: #000;
}
.clo2d{
	color: #2d2d2d;
}
.cloff8400{
    color: #ff8400;
}
.cursor{
	cursor: pointer;
}
.bg57{
    background-color: #575757;
}
.setHeight{
	line-height: 30px;
}
.height40{
    height: 40px;
}
.height45{
    height: 45px;
}
.width110{
    width: 110px;
}
.width100{
    width: 100px;
}
.width240{
    width: 240px;
}
.mgr4{
    margin-right: 4px;
}
.mgt6{
    margin-top: 6px;
}
.fmgt25{
    margin-top: -25px;
}
.mgt40{
    margin-top: 40px;
}
.mgr50{
    margin-right: 50px;
}
.activt{
	background-color: #03a8f1 !important;
	border-radius: 3px;
	color: #fff;
}
.button{
	background-color: #3d3d3d;
    width: 104px;
    border: 1px solid #000;
    padding: 5px 0;
    font-family: "microsoft yahei";
    outline: none;
}
.font16{
	font-size: 16px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.border-left{
	border-left:3px solid #03a8f1;
}
.width130{
	width: 130px;
}
.width55{
    width: 55px;
}
.fontWeight{
    font-weight: bold;
}
.height50{
    height: 50px;
}
.hide1{
    display: none;
}
.button-style{
	background-color: #303030;
	border: 1px solid #242424;
	color: #d1d5d8;
	box-shadow: 0 0 10px #4a4a4a;
}
.clo69d6{
	color:#0069D6;
}
.clo555{
	color: #555;
}
.clo717171{
    color: #333333;
}
.bordtom{
	border: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-top-left-radius: 4px;
}
.le-iframe{
    overflow: hidden;
    box-sizing: border-box;
}

.le-iframe iframe{
    display: inline-block;
    margin: 0 auto;
    pointer-events: none;
    box-sizing: border-box;
}
.wrap{
    word-break:break-all;
}
.width200{
    width: 200px;
}
.bg3d3d3d{
    background: #3d3d3d;
}
.padall5{
    padding: 5px;
}
.padl15t5{
    padding: 5px 15px;
}
.col1f3b7b{
    color: #1f3b7b;
}
.clofff{
    color: #fff;
}
.col2db{
    color: #2dbbc4;
}
.padl70{
    padding-left: 70px;
}
.relative{
    position: relative;
}
.width205{
    width: 205px;
}
.height25{
    height: 25px;
}
.mgl24{
    margin-left: 24px
}
.column {
    position: relative;
    margin: 5px;
    padding: 5px;
    min-height: 50px;
}
.column-tab_disabled{
    position: relative;
    margin: 5px;
    min-height: 50px;
    padding: 5px;
}
.toolspan {
    display: none;
}
.txindent12{
    text-indent:12px;
}
.liststyDisc{
    list-style: disc inside;
}
.n-widget {
    overflow: hidden;
}
.partItalic {
    font-style: italic;
}

.partUnderline {
    text-decoration: underline;
}

.partThroughline {
    text-decoration: line-through;
}

.factive {
    padding: 4px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #fff;
    background: #03A8F1;
    border: none;
    width: 174px;
}

.fnormal {
    cursor: no-drop;
}

body .ui-widget {
    font-family: "微软雅黑";
    background: none;
}

.marginItem {
    padding: 4px
}
.borderItem  {
    border: 1px solid #ccc;
    padding: 2px;
    /*background:rgba(211, 211, 211, 1) url(../images/sliderBar/sliderBar15.png) no-repeat center center;*/
}
.bg337ab7{
    background-color: #337ab7;
}
.col337ab7{
    color: #337ab7;
}
.bgBlack{
    background-color: #000000;
}
.colorF{
    color: #fff;
}
.bor_bottom6{
    border-bottom: 3px solid #ffd100;
}
.bg353b41{
    background-color: #353b41;
}
.row {
    margin: 0;
    padding: 0
}
.list-group{
    margin-bottom: 0
}
.bgff944c{
    background-color: #ff944c;
}
.bgff6600{
    background-color: #ff6600;
}
.colff6600{
    color: #ff6600;
    font-weight: bold;
}
.bgffefe5{
    background-color: #ffefe5;
}
.borderBottom{
    border-bottom: 2px solid #ff6600;
}
body .ui-widget {
    font-family: "微软雅黑";
}
.row {
    margin: 0;
    padding: 0
}
/****************************************显示与隐藏 plugins *********************************/
.demo .view {
    display: block;
    position: relative;
}

.demo .preview {
    display: none;
}

.toolbar .view {
    display: none;
}

.demo {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: inherit;
    word-wrap: break-word;
    padding: 0;
}

.demo:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    /*content: "Container";*/
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    /*padding: 3px 7px;*/
    position: absolute;
    top: -1px;
}

.demo .row-fluid {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    padding: 5px;
}

/***********************多图开始***********************/
.removeGallery {
    display: none;
}
.col-md-3 {
    padding: 0;
}
.bottom-title {
    display: block;
    color: #fff;
    width: 100%;
    min-height: 12px;
    /*text-align: center;*/
    z-index: 9;
    position: relative;
    padding: 0px 4px;
}
.bottom-title a{
    display:block;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space:nowrap;
    *white-space:nowrap;
    overflow:hidden;
}
.over-title {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 12px;
    padding: 5px 1%;
    word-break: break-all;
    color: #fff;
    z-index: 9;
}
.over-titleBox{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.8em;
}
.borderItem>a:hover .over-titleBox{
    display:block;
    overflow:inherit;
    height:100%;
}
#gallerySettingSection ul li {
    cursor: pointer;
}
.marginItem {
    padding: 4px
}

.borderItem {
    border: 1px solid #ccc;
    padding: 2px
}
.bottom-title .formatA{
    color: #555;
    text-decoration: none;
}
.bottom-title .formatA:hover{
    color: #555;
    text-decoration: none;
}
.bottom-title .formatA:focus{
    color: #555;
    text-decoration: none;
}
/***********************多图结束***********************/
/***********************列表开始***********************/
.list-group-item{
    background-color: inherit;
}

.media-heading,.listSummary,.listSource,.listSource-bottom,.listKeyword-bottom,.listSource-middle,.listKeyword-middle{
    position: relative;
}
.imgToolbar, .imgToolbarOver,.listToolbar,.listSummarybar,.listSourcebar,.listSourcebar-bottom,.listKeywordbar-bottom,.listSourcebar-middle,.listKeywordbar-middle{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6) url(../img/pencil.png) no-repeat center center;;
    overflow: hidden;
    text-align: center;
    display: none;
    color: #fff;
    z-index: 10;
}
.model-list-item{
    display: block;
    padding: 6px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    width: 205px;
}
.model-list2-item{
    display:list-item;
    background: #fff;
    color: #717171;
    width: 205px;
}
.liststyle{
    list-style: inside disc;
}
.pad6{
    padding: 6px;
}
.padtnone{
    padding-top: 0;
}
.padbnone{
    padding-bottom: 0;
}
.padl12{
    padding-left: 12px;
}
.displayinline{
    display: inline-block;
}
.displayblock{
    display: block;
}
.font12{
    font-size: 12px;
}
.padlnone{
    padding-left: 0;
}
.padl6{
    padding-left: 6px;
}
.model-list4-item{
    padding: 6px;
    display:list-item;
    list-style:none;
    background: #fff;
    color: #1f3b7b;
    width: 205px;
}
.model-list6-item{
    padding: 2px 4px;
    display:list-item;
    list-style:none;
    background: #fff;
    width: 135px;
}
.model-list7-item{
    padding: 4px 4px;
    display:list-item;
    list-style:none;
    background: #fff;
    width: 205px;
}
.model-list8-item{
    padding: 2px 4px;
    display:list-item;
    list-style:none;
    background: #fff;
    width: 145px;
}
.model-list9-item{
    padding: 2px 4px;
    display:list-item;
    list-style:none;
    background: #fff;
    width: 155px;
}
.listBgImgH42{
    background: url(../img/noimg.png) no-repeat 4px 4px;
    background-size:  60px 45px ;
}
.listBgImgH26{
    background: url(../img/noimg.png) no-repeat 4px 4px;
    background-size:  50px 34px ;
}
.itemList{
    padding:1px 0;
    color: #fff;
    background:#C1BFBF;
    margin-right:4px;
    width: 18px;
    text-align: center;
}

.itemListImg{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #C7C4C4;
    margin-right:4px;
    position: relative;
}
.itemListImg:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: rgb(255,0,0);
}
.colc8c8c8{
    color: #CCCCCC;
}
.bdBtma6{
    border-bottom: 1px solid #a6a6a6;
}

.media{
    text-align: left;
}
.media-heading{
    margin-bottom: 0
}
.timeShowSrc{
    text-indent: 0px;
}
.badge{
    font-weight: 200;
    color:#777777;
    background-color: transparent;
}
.list-group-item{
    padding: 8px 14px;
    display:list-item;
    list-style:none;
    border: none;
    margin-bottom: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
li.list-group-item a{
    color: #333333;
    font-size: 16px;
    font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";
}
.list-group-item span.timeShow {
    color: #777777 ;
    display: inline-block;
    min-width: 10px;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    border-radius: 0;
}
img.media-object{
    width: 64px;
    height: 64px;
}
.view .moreListShow a span{
    margin: 3px 15px 7px 0;
    display: block;
}
.listBgImgH25 {
    background: url(../img/noimg.png) no-repeat 4px 4px;
    background-size: 40px 30px;
}
/***********************列表结束***********************/

/***********************轮播图开始***********************/
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 200px;
}
#carModelPreview{
    cursor:pointer;
}
.carousel-inner .carousel-caption p{
    display: none;
}
.carousel-caption h4{
    font-size: 14px;
}
.width205{
    width: 205px;
}
.carouselOl-model {
    position: absolute;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carouselOl-model li {
    display: inline-block;
    margin: 0;
    text-indent: 0;
}
.carouselOlBtm {
    position: absolute;
    left: 0;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
    list-style: none;
    bottom: 0;
    background: rgb(255,255,255);
}
.carouselOlBtm li {
    display: inline-block;
    margin: 0;
    text-indent: 0;
}
.bottom10{
    bottom: 10px;
}
.bottom40{
    bottom: 40px;
}
.bgg{
    background-color: #808080;
}
.borderg{
    border: 1px solid #808080;
}
.bgf{
    background-color: #fff
}
.bgy{
    background-color: orangered;
}
.bordery{
    border: 1px solid orangered;
}
.borderf{
    border: 1px solid #fff;
}
.bgfnone{
    background-color: rgba(0,0,0,0);
}
.width10{
    width: 10px
}
.width6{
    width: 6px
}
.height10{
    height: 10px;
}
.height6{
    height: 6px;
}
.width30{
    width: 30px
}
.bdRadius10{
    border-radius:10px;
}
.bdRadius0{
    border-radius:0;
}
.carouselBox {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carouselTitle {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.carouselTitleCenter {
    width: 100%;
    padding:2px;
    position: absolute;
    bottom: 17px;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.carouselBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carouselBtn:hover{
    color: #fff;
}
.left0{
    left: 0;
}
.carouselBtn-left {
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -10px;
}
.carouselBtn-left:before {
    content: "\e079";
}
.top50{top:50%}
.top70{top:70%}
.zindex12{z-index: 12}
.carouselBtn-right {
    position: absolute;
    display: inline-block;
    right: 50%;
    margin-right: -10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 20px;
}
.carouselBtn-right:before {
    content: "\e080";
}
.right0{
    right: 0;
}
.carouselTitleBtm {
    width: 100%;
    padding:10px 2px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.carouselTitleOut {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    color: #000;
}
.carouselOlBR {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: right;
    list-style: none;
}
.carouselOlBR li {
    margin: 0;
    text-indent: -999px;
    border: 1px solid #fff;
}
.carouselOlCenter{
    position: absolute;
    bottom:30%;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carouselOlCenter li {
    margin: 0;
    text-indent: -999px;
    border: 1px solid #fff;
}
.height10{
    height: 10px;
}
.pd04{
    padding:  0 4px;
    display: inline;
}
.bg0087cb{
    background-color: #0087cb;
}
.carousel-indicators li span {
    display: none;
}
.carousel-indicators{
    bottom: 1px;
}
/***********************轮播图结束***********************/
/***********************导航开始***********************/
.dropdown-menu{
    min-width:10px;
    padding: 0;
    border-radius: 0;
    box-shadow:none;
    -webkit-box-shadow:none;
}
.dropdown-menu>li>a{
    padding: 0 30px;
    text-align: center;
    text-align: -webkit-center;
}
.nav-pills>li+li {
    margin-left: 0;
}
.nav-pills>li>a {
    border-radius: 0;
}
.nav > li > a{
    padding: 0 30px;
}
.navStyle{
    /*width: 60px;*/
    height: 30px;
}
.navmodel li  a{
    padding: 0 19px;
}
/***********************导航结束***********************/
/***********************标签页样式***********************/
.fmgl10{
    margin-left: -10px;
}
.fmgl20{
    margin-left: -20px;
}
.padl80{
    padding-left: 80px;
}
.padl90{
    padding-left: 90px;
}
/***********************视频 音频 flash***********************/
video{background: #000}
audio{background: #000}
div.le-flash_media,div.le-video_media,div.le-audio_media{
    display: inline-block;
}



/********************** 分栏样式开始 *************************/
.diy-inner {
    padding: 0;
    margin: 0;
    position: relative;
}

.diy-inner:before, .diy-inner:after {
    display: table;
    content: '';
}

.w-col {
    position: relative;
    width: 100%;
    float: left;
}
.diy-col-6 {
    width: 50%;
}

.diy-col-3 {
    width: 25%;
}

.diy-col-9 {
    width: 75%;
}

.diy-col-4 {
    width: 33.3333%;
}

.diy-col-2 {
    width: 16.6666%;
}
/********************** 分栏样式结束 *************************/
.media-right{
     padding-left: 0;
}
/******************************折线图***************************/
#LineChartSection .mgt7{
   margin-top: 7px;
}
#LineChartSection .inputStyle20{
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 10px;
    border-radius: 0;
}
#LineChartSection .inputStyle90{
    width: 90px;
}
#chartPicDiv .inputStyle198,#LineChartSection .inputStyle198{
    width:198px;
    height:100px;
}
#LineChartSetPannel .inputStyle70, #LineChartSetStyle .inputStyle70,#LineChartSetXY .inputStyle70{
    width:80px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px !important;
    display:inline-block;
    border-radius: 0;
    background-color:#b8bdc2;
    font-family:"microsoft yahei";
    margin:0;
    padding: 0;
    border: none;
    font-weight: 600;
    color: #333;
    padding: 0;
    font-size: 12px;
}
#LineChartSetPannel .width20, #LineChartSetXY .width20{
    width: 20px;
    height:20px;
    margin-left: 10px;
    border-radius: 0;
    background:#000;
}
#LineChartSetXY .inputStyle90{
    width: 90px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px !important;
    display:inline-block;
    border-radius: 0;
    background-color:#b8bdc2;
    font-family:"microsoft yahei";
    margin:0;
    padding: 0;
    border: none;
    font-weight: 600;
    color: #333;
    padding: 0;
    font-size: 12px;
}
#LineChartSetStyle .mgl25,#LineChartSetXY .mgl25{
    margin-left:25px;
}
#LineChartSetStyle .inputStyle75,#LineChartSetXY .inputStyle75{
    width:75px;
    height:20px;
    margin-bottom:5px;
    display:inline-block;
}
#LineChartSetStyle .inputStyle80{
    width:80px;
    height:20px;
    margin-bottom:5px;
    display:inline-block;
}
#LineChartSetStyle .inputStyle95{
    width:95px;
    height:20px;
    margin-bottom:5px;
    display:inline-block;
}
#LineChartSection .inputStyle185{
    width:185px;
}
#chartColorDiv .width190,#LineChartSection .width190{
    width:190px;
    height:30px;
    padding:5px 0px;
    border-radius: 2px;
    border:1px solid #EEEEEE;
}
#chartColorDiv .width20,#LineChartSection .width20{
    width:20px;
    height:20px;
    margin-left:14px;
    border-radius: 2px;
}
.col-D87C7C{
    background-color:#D87C7C;
}
.col-919E8B{
    background-color:#919E8B;
}
.col-D7AB82{
    background-color:#D7AB82;
}
.col-6E7074{
    background-color:#6E7074;
}
.col-61A0A8{
    background-color:#61A0A8;
}
.col-DD6B66{
    background-color:#DD6B66;
}
.col-759AA0{
    background-color:#759AA0;
}
.col-E69D87{
    background-color:#E69D87;
}
.col-8DC1A9{
    background-color:#8DC1A9;
}
.col-EA7E53{
    background-color:#EA7E53;
}
.col-516B91{
    background-color:#516B91;
}
.col-59C4E6{
    background-color:#59C4E6;
}
.col-EDAFDA{
    background-color:#EDAFDA;
}
.col-93B7E3{
    background-color:#93B7E3;
}
.col-A5E7F0{
    background-color:#A5E7F0;
}
.col-893448{
    background-color:#893448;
}
.col-D95850{
    background-color:#D95850;
}
.col-EB8146{
    background-color:#EB8146;
}
.col-FFB248{
    background-color:#FFB248;
}
.col-F2D643{
    background-color:#F2D643;
}
.col-4EA397{
    background-color:#4EA397;
}
.col-22C3AA{
    background-color:#22C3AA;
}
.col-7BD9A5{
    background-color:#7BD9A5;
}
.col-D0648A{
    background-color:#D0648A;
}
.col-F58DB2{
    background-color:#F58DB2;
}
.col-3FB1E3{
    background-color:#3FB1E3;
}
.col-6BE6C1{
    background-color:#6BE6C1;
}
.col-626C91{
    background-color:#626C91;
}
.col-A0A7E6{
    background-color:#A0A7E6;
}
.col-C4EBAD{
    background-color:#C4EBAD;
}
.col-FC97AF{
    background-color:#FC97AF;
}
.col-87F7CF{
    background-color:#87F7CF;
}
.col-F7F494{
    background-color:#F7F494;
}
.col-72CCFF{
    background-color:#72CCFF;
}
.col-F7C5A0{
    background-color:#F7C5A0;
}
.col-C1232B{
    background-color:#C1232B;
}
.col-27727B{
    background-color:#27727B;
}
.col-FCCE10{
    background-color:#FCCE10;
}
.col-E87C25{
    background-color:#E87C25;
}
.col-B5C334{
    background-color:#B5C334;
}
.col-2EC7C9{
    background-color:#2EC7C9;
}
.col-B6A2DE{
    background-color:#B6A2DE;
}
.col-5AB1EF{
    background-color:#5AB1EF;
}
.col-FFB980{
    background-color:#FFB980;
}
.col-D87A80{
    background-color:#D87A80;
}
.col-E01F54{
    background-color:#E01F54;
}
.col-001852{
    background-color:#001852;
}
.col-F5E8C8{
    background-color:#F5E8C8;
}
.col-B8D2C7{
    background-color:#B8D2C7;
}
.col-C6B38E{
    background-color:#C6B38E;
}
.col-C12E34{
    background-color:#C12E34;
}
.col-E6B600{
    background-color:#E6B600;
}
.col-0098D9{
    background-color:#0098D9;
}
.col-2B821D{
    background-color:#2B821D;
}
.col-005EAA{
    background-color:#005EAA;
}
.col-8A7CA8{
    background-color:#8A7CA8;
}
.col-E098C7{
    background-color:#E098C7;
}
.col-8FD3E8{
    background-color:#8FD3E8;
}
.col-71669E{
    background-color:#71669E;
}
.col-CC70AF{
    background-color:#CC70AF;
}
.col-c23531{
    background-color:#c23531;
}
.col-2f4554{
    background-color:#2f4554;
}
.col-61a0a8{
    background-color:#61a0a8;
}
.col-d48265{
    background-color:#d48265;
}
.col-91c7ae{
    background-color:#91c7ae;
}
@media (min-width: 92px){
    .col-md-3 {
        width: 25%;
    }
}


