
.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
	
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}
.webfx-tree-checkbox {
	padding: 0px;
	margin: 0px;
	height: 12px;
}
.webfx-tree-label {
	padding: 0px;
	margin: 0px;
}

.webfx-tree-item a,
.webfx-tree-item a:active,
.webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a {
	color:#333;
	text-decoration: none;
	cursor:hand;
	font-size: 14px;
  	font-family: '微软雅黑';
  	line-height: 25px;
}

.webfx-tree-item a:hover {
	color:#ff5337;
	
}

.webfx-tree-item a:active {
	color: highlighttext;
	text-decoration: none;
	background: highlight;
}
.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon1 {
	width: 16px;
	height: 16px;
}
